<div class="wrapper" [ngClass]="{ 'sidebar-show': sidebarOpen }">
  <app-sidebar
    [menuItems]="visibleMenuItems"
    [themeMode]="themeMode"
    [userEmail]="userEmail"
    [userRoleLabel]="userRoleLabel"
    (themeChange)="toggleTheme()"
    (sidebarToggle)="toggleSidebar()"
    (navClick)="closeSidebarOnSmallScreen()"
    (logoutClick)="logout()">
  </app-sidebar>

  <div class="page">
    <app-navbar
      [userEmail]="userEmail"
      [userMenuOpen]="userMenuOpen"
      (sidebarToggle)="toggleSidebar()"
      (userMenuToggle)="toggleUserMenu()"
      (themeToggle)="toggleTheme()"
      (logoutClick)="logout()">
    </app-navbar>

    <div class="page-wrapper">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </div>
</div>
